*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background: linear-gradient(to right, #1f1c2c, #928dab);
}
h1 {
  text-align: center;
  margin-top: 20px;
  color: aliceblue;
}
.form {
  position: fixed;
  top: 80px;
  right: 30%;
  left: 30%;
  border-radius: 8px;
  border: 2px solid rgb(66, 66, 180);
  color: #000;
  box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.5);
}

.items {
  position: fixed;
  top: 90px;
  right: 30%;
  left: 30%;
  border-radius: 8px;
}

.form-group {
  margin-bottom: 0;
}

.completedTodo {
  background-color: darkgray;
  text-decoration: line-through;
}
img
{
  width:50px;
  height:50px;
  animation:image 4s infinite 1s normal;
}

@keyframes image {
  0%{
    width:50px;
    height:50px;
  }
  25%
  {
    width:40px;
    height:40px;
  }
  50%
  {
    width:30px;
    height: 30px;
  }
  75%
  {
    width:40px;
    height:40px;
  }
  100%
  {
    width:50px;
    height:50px;
  }
  
}
